* {
    margin: 0;
    padding: 0;
    font-family: Poppins; 
    box-sizing: border-box;
}

body {
    background-color: #252525;
}

header {
    color: white;
    background-color: #252525;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

h1 {
    cursor: pointer;
    font-weight: 500;
}

nav {
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.5vw; */
    font-size: clamp(15px, 1.5vw, 50px);
}

nav div {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

nav div:hover {
    font-weight: 600;
}

section {
    height: 85vh;
    width: 100%;
    padding: 0 10%;
    display: flex;
}

/* BANNER */

.banner {
    background: url('./media/banner.png') center no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

.banner p {
    color: #fff;
    margin-bottom: 5%;
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
}

/* ACERCA */

.acerca {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url('./media/acerca-background.png') center no-repeat;
    background-size: cover;
}

.acerca h2 {
    font-size: 4.3vw;
}

.acerca p {
    font-size: .7vw;
    text-align: justify;
}

/* HORARIO */

.horario {
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    background: url('./media/horarios-background.png') center no-repeat;
    background-size: cover;
}

.horario table thead tr {
    background-color: rgba(67, 66, 66, 0.766);
}

.horario table thead tr th {
    padding: 0 10vw;
}

.horario tbody {
    text-align: center;
}

/* PRECIOS */

.precios {
    justify-content: center;
    align-items: center;
    background: url('./media/precios-background.png') center no-repeat;
    background-size: cover;
}

.precios>div {
    height: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.precios>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.precios div h3 {
    font-size: 2vw;
    font-weight: 500;
}

.precios div p {
    font-size: 1.5vw;
    font-weight: 300;
}

/* CONTACTO */

.contacto {
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    background: url('./media/contacto-background.png') center no-repeat;
    background-size: cover;
}

.contacto>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto>div .redes {
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacto>div p {
    font-size: 1.4vw;
}

.contacto .redes a {
    text-decoration: none;
}

.contacto .redes a svg {
    color: black;
}